### Pyspark Dataframes
- Filter Operation
- &,|,==
- ~

In [2]:
from pyspark.sql import SparkSession

In [4]:
spark=SparkSession.builder.appName('dataframe').getOrCreate()

In [6]:
df_pyspark=spark.read.csv(r"E:\NIT Python (ALL Task)\PYSPARK & DATABRICKS\sample1.csv",header=True,inferSchema=True)
df_pyspark.show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|    jack| 31|        10| 30000|
|    alex| 30|         8| 25000|
|caroline| 29|         4| 20000|
|    paul| 24|         3| 20000|
|  sandra| 21|         1| 15000|
|casandra| 23|         2| 18000|
+--------+---+----------+------+

### Filter Operations

In [9]:
### Salary of the people less than or equal to 20000
df_pyspark.filter("Salary<=20000").show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|caroline| 29|         4| 20000|
|    paul| 24|         3| 20000|
|  sandra| 21|         1| 15000|
|casandra| 23|         2| 18000|
+--------+---+----------+------+

In [11]:
df_pyspark.filter("Salary<=20000").select(['Name','age']).show()

+--------+---+
|    Name|age|
+--------+---+
|caroline| 29|
|    paul| 24|
|  sandra| 21|
|casandra| 23|
+--------+---+

In [13]:
df_pyspark.filter(df_pyspark['Salary']<=20000).show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|caroline| 29|         4| 20000|
|    paul| 24|         3| 20000|
|  sandra| 21|         1| 15000|
|casandra| 23|         2| 18000|
+--------+---+----------+------+

In [15]:
df_pyspark.filter((df_pyspark['Salary']<=20000) | 
                  (df_pyspark['Salary']>=15000)).show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|    jack| 31|        10| 30000|
|    alex| 30|         8| 25000|
|caroline| 29|         4| 20000|
|    paul| 24|         3| 20000|
|  sandra| 21|         1| 15000|
|casandra| 23|         2| 18000|
+--------+---+----------+------+

In [17]:
df_pyspark.filter(~(df_pyspark['Salary']<=20000)).show()

+----+---+----------+------+
|Name|age|Experience|Salary|
+----+---+----------+------+
|jack| 31|        10| 30000|
|alex| 30|         8| 25000|
+----+---+----------+------+